* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}

.nav_flex {
    display: flex;
    justify-content: center;
}

.nav_bar {
    display: grid;
    grid-template-columns: auto auto auto auto ;
    background-color: black;
    border-radius: 20px;
}

.home-icons {
    background-color: black;
    color: white;
    height: 45px;
    width: 100px;
    display: flex;
    align-items: center;
    padding: 15px 0px 15px 15px;
    cursor: pointer;
    margin: 10px 0px 0px 10px;
}

.home-icons picture {
    height: 35px;
    width: 35px;
    background-color: lime;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-icons picture img {
    width: 25px;
}

.home-icons span {
    text-align: center;
    padding: 0px 0px 0px 5px;
}


.nav_bar label input {
    border-style: none;
    background-color: rgb(56, 56, 56);
    margin: 10px 0px;
    padding: 15px 50px 15px 15px;
    border-radius: 15px;
}    

.user_btn {
    background-color: rgb(56, 56, 56);
    color: white;
    border: none;
    border-radius: 30px;
    height: 45px;
    width: 120px;
    display: flex;
    align-items: center;
    padding: 15px 0px 15px 8px;
    cursor: pointer;
    align-self: flex-start;
    margin: 10px 0px;
}

.user_btn picture {
    height: 35px;
    width: 35px;
    background-color: #1FC952;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_btn picture img {
    width: 35px;
}

.nav_usr span {
    text-align: center;
    padding: 0px 0px 0px 5px;
}

.nav_links li{
    display: inline-block;
    list-style: none;
    background-color: black;
    border-radius: 10px;
    padding: 20px;
}

.nav_links li a {
    color: white;
    text-decoration: none;
}

.container-body {
    display: flex;
    justify-content: center;    
}

.container-cards {
    display: grid;
    grid-template-columns: 400px 400px;
}

.card-btc {
    background-color: rgb(56, 56, 56);
    height: 150px;
    border-radius: 20px;
}

.logo-btc {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    height: 35px;
    width: 35px;
    border-radius: 100px;
    margin: 10px 0px;
}

.logo-btc img {
    width: 28px;
    transform: rotate(15deg);
}

.text-top p, .text-top span {
    color: white;
}

.text-top p{
    position: relative;
    left: 50px;
    bottom: 35px;
}

.text-top span {
    position: relative;
    left: 105px;
    bottom: 62.6px;
}

.chev-btc {
    position: relative;
    left: 300px;
    bottom: 60px;
}
